/* ---- FONT ---- */

@font-face {
    font-family: 'robotoregular';
    src: url('webagency_images/fonts/Roboto-Regular-webfont.eot');
    src: url('webagency_images/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('webagency_images/fonts/Roboto-Regular-webfont.woff2') format('woff2'), url('webagency_images/fonts/Roboto-Regular-webfont.woff') format('woff'), url('webagency_images/fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('webagency_images/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('webagency_images/fonts/Roboto-Bold-webfont.eot');
    src: url('webagency_images/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('webagency_images/fonts/Roboto-Bold-webfont.woff2') format('woff2'), url('webagency_images/fonts/Roboto-Bold-webfont.woff') format('woff'), url('webagency_images/fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('webagency_images/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* --------------- */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 100px;
}

.blue {
    color: #5CADD3;
}

.row {
    max-width: 1440px;
    overflow: hidden;
    clear: both;
    margin: 0 auto;
}


/* ---- HEADER --- */

#menu {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    background-color: #FFFFFF;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 10%;
    min-width: 261px;
    min-height: 57px;
}

nav {
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav a {
    padding: 38px 14px 38px 14px;
    text-decoration: none;
    font-size: 0.9em;
    color: #878787;
    font-family: 'robotoregular';
}

nav a:hover {
    color: black;
    border-top: 3px solid #5CADD3;
}


/* ---- ANCRE ---- */

#service:target,
#portfolio:target {
    padding-top: 100px;
}


/* ---- BANNER ---- */

#banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: auto;
}

#titre_principale {
    position: absolute;
    top: 30%;
    left: 10%;
    margin: 20px;
    color: #FFF;
}

#titre_principale h1 {
    text-transform: uppercase;
    font-family: 'robotobold';
    font-size: 2.6em;
    line-height: 110%;
    margin: 0;
}

#titre_principale p {
    font-family: "robotoregular";
    font-weight: bold;
    font-size: 1em;
    margin-top: 17px;
    margin-bottom: 35px;
}

.bouton_banner {
    color: #FFF;
    font-family: 'robotobold';
    font-size: 1.1em;
    background-color: #5CADD3;
    text-decoration: none;
    padding: 7px 14px;
    border-bottom: 3px solid #4494bb;
    border-radius: 3px;
}

.bouton_banner:hover {
    background-color: #4494bb;
    border-bottom: none;
}

#bouton_slider_left {
    position: absolute;
    left: 0;
    top: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

#bouton_slider_right {
    position: absolute;
    right: 0;
    top: 50%;
    width: 80px;
    height: 80px;
    transform: translate(50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

#bouton_slider_right:hover,
#bouton_slider_left:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.fa-chevron-left {
    font-size: 25px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.fa-chevron-right {
    font-size: 25px;
    color: white;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading_bar_blue {
    width: 10%;
    height: 5px;
    margin-top: -9px;
    background-color: #5CADD3;
    position: absolute;
    z-index: 1;
}

.loading_bar_black {
    width: 100%;
    height: 5px;
    margin-top: -9px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}


/* ---- Header's Section  ----*/

.headers_section_title {
    margin: 0;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 35px;
    line-height: 28px;
}

.headers_section_title h2 {
    font-size: 2.6em;
    font-family: 'robotobold';
    color: #272727;
    text-transform: uppercase;
}

.headers_section_title p {
    font-size: 0.9em;
    font-family: 'robotoregular';
    color: #65696e;
}

.header_section_sign {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

hr {
    width: 135px;
    height: 1px;
    background-color: #e8e8e8;
    border: none;
    position: absolute;
}

.header_section_sign .fa-circle {
    color: #5CADD3;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    background-color: #FFF;
}


/* ---- Section 1 Service ---- */

#service {
    padding-bottom: 90px;
}

.elements_section {
    display: flex;
    justify-content: center;
}

#main_feature {
    width: 50%;
    min-width: 510px;
    text-align: right;
    flex: 1;
}

#main_feature img {
    width: 510px;
    height: 320px;
    margin-right: 70px;
}

#liste_service {
    margin-top: 50px;
    display: flex;
    flex: 1;
    align-items: flex-end;
}

#liste_service li {
    list-style-type: none;
    margin-top: 15px;
    display: flex;
    padding-right: 50px;
    transition: .5s ease-out;
}

#liste_service li:hover {
    transform: scale(1.1);
}

#liste_service ul {
    padding: 0;
}

.text_liste_service {
    margin-left: 32px;
    line-height: 28px;
}

.text_liste_service p {
    text-align: justify;
    font-size: 0.9em;
    font-family: "robotoregular";
    color: #65696e;
}

#service h3 {
    font-family: "robotoregular";
    font-weight: bold;
    margin-top: 0;
    margin-bottom: -10px;
}


/* ---- Icone Section --- */

.icone {
    min-width: 65px;
    min-height: 65px;
    width: 65px;
    height: 65px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icone .fa-chart-line,
.icone .fa-cubes,
.icone .fa-chart-pie {
    position: absolute;
    color: #5CADD3;
}

.icone .fa-circle {
    color: #5CADD3;
    position: absolute;
    border-radius: 50%;
    padding: 3px;
    background-color: #FFF;
    right: -10px;
}


/* --- Section 2 Portfolio --- */

#portfolio {
    background-color: #f5f5f5;
    padding-bottom: 90px;
    text-align: center;
}

#projet_portfolio {
    text-align: center;
}

#portfolio_button_bar {
    display: flex;
    justify-content: center;
}

#portfolio label {
    display: inline-block;
    cursor: pointer;
    background-color: #e5e5e5;
    padding: 10px;
    border-bottom: 3px solid #e5e5e5;
    margin-left: -4px;
    font-size: 0.9rem;
    font-family: "robotoregular";
    color: #65696e;
    position: relative;
    transition: .2s ease-in-out;
}

#portfolio label:hover {
    background-color: #b3b1b1;
    border-bottom: 3px solid #b3b1b1;
    color: #3e4246;
}

.arrow-down {
    position: absolute;
    transform: translate(-50%, 100%);
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #468cad;
    display: none;
}

#projet_portfolio #all_works:checked~.portfolio_button_bar label[for="all_works"] .arrow-down,
#projet_portfolio #all_creative:checked~.portfolio_button_bar label[for="all_creative"] .arrow-down,
#projet_portfolio #all_corporate:checked~.portfolio_button_bar label[for="all_corporate"] .arrow-down,
#projet_portfolio #all_portfolio:checked~.portfolio_button_bar label[for="all_portfolio"] .arrow-down {
    display: block;
}

#portfolio input[type="radio"] {
    display: none;
}

#projet_portfolio #all_works:checked~.portfolio_button_bar label[for="all_works"],
#projet_portfolio #all_creative:checked~.portfolio_button_bar label[for="all_creative"],
#projet_portfolio #all_corporate:checked~.portfolio_button_bar label[for="all_corporate"],
#projet_portfolio #all_portfolio:checked~.portfolio_button_bar label[for="all_portfolio"] {
    background: #5CADD3;
    border-bottom: 3px solid #468cad;
    color: white;
}

#portfolio_galerie figure {
    position: relative;
    width: 370px;
    height: auto;
    margin: 30px;
    display: none;
}

#all_creative:checked~#portfolio_galerie .creative,
#all_works:checked~#portfolio_galerie figure,
#all_corporate:checked~#portfolio_galerie .corporate,
#all_portfolio:checked~#portfolio_galerie .portfolio_selec {
    display: block;
}

#portfolio label:first-child {
    border-radius: 3px 0 0 3px;
}

#portfolio label:last-child {
    border-radius: 0 3px 3px 0;
}

#portfolio_galerie {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#portfolio_galerie img {
    width: 100%;
    height: auto;
}

#portfolio_galerie .eyes {
    position: absolute;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #5CADD3;
    transform: translate(0%, -50%);
    right: 15px;
    display: flex;
    transition: .2s ease-in-out;
}

#portfolio_galerie .eyes:hover {
    background: rgb(76, 146, 179);
}

#portfolio_galerie figcaption {
    position: absolute;
    bottom: 3px;
    z-index: 500;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: .2s ease-in-out;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

#portfolio_galerie figure {
    transition: .2s ease-in-out;
}

#portfolio_galerie figure:hover {
    transform: scale(1.1);
}

#portfolio_galerie figure:hover>figcaption {
    opacity: 1;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

#portfolio_galerie i {
    color: #FFF;
    margin: auto;
    font-size: 13px;
}

#portfolio_galerie h2,
#portfolio_galerie span {
    color: #FFF;
    font-family: "robotoregular";
    font-weight: bold;
    margin: 5px 0 -1px 10px;
    text-align: justify;
    font-size: 0.9em;
}

#portfolio_galerie h2 {
    font-size: 1.1em;
}


/* ---- CONTACT ---- */

#contact {
    position: relative;
    background-color: rgba(67, 146, 232, 0.6);
    height: 650px;
}

iframe {
    opacity: 0.7;
    width: 100%;
    height: 650px;
    border: none;
}

#formulaire {
    position: absolute;
    top: 45px;
    right: 150px;
    height: 530px;
    width: 345px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

#contact_info {
    margin-left: 7px;
    margin-bottom: 23px;
    font-family: "robotoregular";
    font-size: 0.9em;
    color: #71757a;
}

#formulaire h2 {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 2em;
    color: #272727;
    font-family: "robotoregular";
}

.bold {
    font-weight: bold;
}

#formulaire p {
    margin: 0px;
    line-height: 130%;
}

#formulaire form {
    display: flex;
    flex-direction: column;
    margin: 7px;
}

#formulaire form input {
    height: 28px;
}

#formulaire textarea {
    padding-top: 10px;
}

#formulaire form input,
#formulaire textarea {
    margin-bottom: 15px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #999999;
    font-size: 13px;
    padding-left: 15px;
    font-family: "robotoregular";
    font-weight: bold;
    color: #71757a;
    transition: .2s ease-in-out;
}

#formulaire form input:hover,
#formulaire textarea:hover {
    border: 1px solid #5CADD3;
}

#formulaire form input[type="submit"] {
    color: #FFF;
    background-color: #5CADD3;
    width: 120px;
    height: 32px;
    padding: 5px;
    border: none;
    border-bottom: 3px solid #4494bb;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

#formulaire form input[type="submit"]:hover {
    background-color: #4494bb;
    border-bottom: none;
}


/* --- FOOTER ---- */

footer {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #e5e5e5;
}

footer p {
    font-family: 'robotoregular';
    font-size: 0.75em;
    text-align: center;
}


/* ---- CSS MEDIA QUERIES ---- */


/* Smartphone (portrait) */

@media screen and (max-width: 1024px) {
    body {
        padding-top: 114px;
    }
    /* ---- HEADER --- */
    #menu {
        height: auto;
        border-bottom: 1px solid #e5e5e5;
        align-items: stretch;
        justify-content: stretch;
        display: flex;
        flex-direction: column;
    }
    #logo {
        min-width: auto;
        margin: auto;
        margin-top: 5px;
    }
    nav {
        margin-right: 0;
        width: 100%;
    }
    nav ul {
        justify-content: center;
    }
    nav a {
        padding: 13px 14px 14px 14px;
    }
    nav a:hover {
        color: black;
        border-top: transparent;
        border-bottom: 3px solid #5CADD3;
    }
    /* ---- BANNER ---- */
    #titre_principale {
        position: initial;
        color: #272727;
        text-align: center;
        margin: 10px;
    }
    #titre_principale h1 {
        font-size: 1.1em;
    }
    #titre_principale p {
        font-size: 0.9em;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .bouton_banner {
        font-size: 0.8em;
    }
    #bouton_slider_left,
    #bouton_slider_right {
        width: 40px;
        height: 40px;
        top: 25%;
    }
    .fa-chevron-left,
    .fa-chevron-right {
        font-size: 13px;
    }
    /* ---- Header's Section  ----*/
    .headers_section_title {
        margin: 20px;
        padding-top: 5px;
        padding-bottom: 10px;
        line-height: 18px;
    }
    .headers_section_title h2 {
        font-size: 2em;
        line-height: 25px;
    }
    /* ---- Section 1 Service ---- */
    #service {
        padding-bottom: 0;
    }
    .elements_section {
        display: block;
    }
    #main_feature {
        display: none;
    }
    #liste_service {
        width: auto;
        margin-top: -20px;
        align-items: center;
    }
    #liste_service ul {
        width: 100%;
    }
    #liste_service li {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }
    .text_liste_service {
        margin-left: auto;
        line-height: 18px;
        width: 100%;
    }
    .text_liste_service p {
        text-align: center;
        padding: 0 50px 0 50px;
    }
    #service h3 {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    /* ---- Icone Section --- */
    .icone {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .icone .fa-circle {
        right: auto;
        bottom: -10px;
    }
    /* --- Section 2 Portfolio --- */
    #portfolio {
        padding-bottom: 0;
    }
    #portfolio_galerie {
        margin-top: 10px;
    }
    /* ---- CONTACT ---- */
    #contact {
        position: initial;
        height: 200px;
        border-top: 1px solid #e5e5e5;
    }
    iframe {
        height: 200px;
    }
    #formulaire {
        position: initial;
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
    }
    #formulaire form {
        width: 50%;
    }
    #formulaire textarea {
        height: 60px;
    }
    /* --- FOOTER --- */
    footer {
        display: none;
    }
}